html {
  box-sizing: border-box;
  font-family: "Momo Trust Display", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 50px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

.header-left h1,
.header-right h3 {
  font-weight: 900;
}

.header-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.img-border {
  position: relative;
  width: 55px;
  height: 55px;
  border: 1px solid black;
  border-radius: 50% 50%;
}

.img-border img {
  position: absolute;
  top: 5%;
  right: 15%;
}
